<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/newdish">new dish</a></li>
    </ul>
    
    New Dish

    <form action="/newdish" method="POST">

        <input type="text" placeholder="name" name="name"><br>
        <input type="text" placeholder="description" name="description"><br>
        <input type="text" placeholder="price" name="price"><br>
        <input type="text" placeholder="course" name="course"><br>
        <input type="text" placeholder="Image url" name="imageURL"><br>


        <select name="category" id="">

            <option selected>Pick a category</option>

            <% categories.forEach(category => { %>
                
                <option value="<%= category.id %>"><%= category.name %> </option>
            <% }) %>
        </select>

        <input type="submit">

    </form>
</body>
</html>