<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include ('partials/nav.ejs') %> 

    <h1>Welcome to Forms Home Page</h1>

    

    <h3>Create a basic form and explore form elements</h3>


    <form action="">

        <div>hello</div>
        <input type="text">
        <input type="radio">
        <input type="checkbox">
        <input type="password">
        <select name="" id="">

            <option value="Modnay">This is Monday</option>
            <option value="">Tuesday</option>
            <option value="" selected>Wednesday</option>
        </select>


        <input type="submit">

        <button type="sumbit">Click me</button>
    </form>

</body>

</html>